@media (max-width:1100px) { 
  .holi-gift{ 
     font-size: 10px;
  }
  .gift-box {
    width: 20px;
  }
  .send-text,
  .click,
  .text-style-1,
  .book-demo,
  .logIn-btn,
  .signUp-btn,
  .book-demo2,
  .start-gifting-text,
  .follow {
    font-size: 10px;
  }
  .c-g {
    font-size: 30px;
  }
  .indent {
    font-size: 40px;
  }
  .img-gift {
    width: 500px;
  }
.container-picks {
  grid-template-columns: 350px ;
}
.brands-container {
  margin-top: 1000px;
}
.client-grid {
  display: grid;
  grid-template-columns: 280px;
  align-items: center;
}
.content-div {
  display: grid;
  grid-template-columns: 180px 180px 180px 180px;
}
.browse-btn {
  margin-left: 300px;
  margin-right: 300px;
}
}